body {
  background-color: black;
  color: white;
}

.welcome {
  text-align: center;
  font-size: 60px;
  padding-top: 150px;
}

.totheworld {
  text-align: center;
  font-size: 30px;
  color: white;
  display: block;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.containor {
  text-align: center;
}

a {
  text-algn: center;
  font-size: 35px;
  color: white;
}

.game {
  justify-content: center;
}
